<!-- views/users/registration.ejs -->
<%- include('../partials/header') %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Register</h2>

          <% if (errorMessage) { %>
          <div class="alert alert-danger" role="alert"><%= errorMessage %></div>
          <% } %>

          <form action="/users/register" method="POST">
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                required
              />
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
              />
            </div>

            <div class="mb-3">
              <label for="confirmPassword" class="form-label"
                >Confirm Password:</label
              >
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
                required
              />
            </div>

            <div class="mb-3">
              <label for="userType" class="form-label">User Type:</label>
              <select
                class="form-select"
                id="userType"
                name="userType"
                required
              >
                <option value="individual">Individual</option>
                <option value="business">Business</option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
